body{
    background-color: rgb(174, 207, 207);
    
    
}
h1, h2{text-align: center;}

#items{display: flex; flex-wrap: wrap; justify-content: left; font-size: xx-large;}

#input{
    display: flex; 
    position:static; width: 10%; top: 40%; left:45%;
    justify-self: center;
    justify-content: center;
}

button{
    background-color: rgb(68, 208, 255);
    border-radius: 40%;
}

