body{
    background-color: rgb(174, 207, 207);
    
    
}
h1, h2{text-align: center;}

#items{display: flex; flex-wrap: wrap; justify-content: left;}

#input{
    display: flex; 
    position: fixed; width: 10%; top: 40%; left:45%;
    justify-content: center;
}

button{
    background-color: rgb(68, 208, 255);
    border-radius: 40%;
}

